<!doctype html>
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>

  <body class="bg-bg-page">
    <%- include('./partials/navbar-dashboard.ejs') %>

    <div class="flex overflow-hidden pt-16">
      <%- include('./partials/sidebar-admin.ejs') %>

      <div id="main-content" class="relative h-full w-full overflow-y-auto lg:ml-64">
        <main class="container mx-auto px-4 py-4 sm:px-6 sm:py-6">
          <% if (locals.breadcrumb && locals.breadcrumb === true) { %> <%- include('./partials/breadcrumb-admin.ejs') %>
          <% } %> <%- body %>
        </main>

        <% if (locals.footer && locals.footer === true) { %> <%- include('./partials/footer.ejs') %> <% } %>
      </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
