<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="<%= locals.description || 'A feature rich multipurpose discord bot' %>" />
<meta name="author" content="Strange Bot" />
<meta name="generator" content="Strange Bot Dashboard" />

<% if (locals.title) { %>
<title><%= locals.title %></title>
<% } else { %>
<title>Dashboard</title>
<% } %>

<link rel="canonical" href="{{ .Permalink }}" />

<%- include('stylesheet.ejs') %> <%- include('favicons.ejs') %> <%- include('analytics.ejs') %>
