<aside
  id="sidebar"
  class="transition-width fixed left-0 top-0 z-20 flex hidden h-full w-64 flex-shrink-0 flex-col overflow-y-auto pt-16 font-normal duration-75 lg:flex"
  aria-label="Sidebar">
  <div class="border-border bg-bg-panel relative flex min-h-0 flex-1 flex-col border-r pt-0">
    <div class="flex flex-1 flex-col overflow-y-auto pb-4 pt-5">
      <div class="divide-border bg-bg-panel flex-1 space-y-1 divide-y px-3">
        <ul class="space-y-2 pb-2">
          <li>
            <a href="/dashboard" class="text-text hover:bg-bg-surface group flex items-center rounded-lg p-2 text-base">
              <i class="fa-solid fa-arrow-left text-text-muted group-hover:text-text"></i>
              <span class="ml-3 text-sm md:text-base" sidebar-toggle-item><%= tr('SIDEBAR.BACK_TO_DASH') %></span>
            </a>
          </li>

          <li>
            <a
              href="/admin"
              class="<%- slug === 'admin' ? 'bg-bg-interactive' : '' %> text-text hover:bg-bg-surface group flex items-center rounded-lg p-2 text-base">
              <i class="fa-solid fa-gears text-text-muted group-hover:text-text"></i>
              <span class="ml-3 text-sm md:text-base" sidebar-toggle-item><%= tr('SIDEBAR.PLUGIN_MANAGEMENT') %></span>
            </a>
          </li>

          <li>
            <a
              href="/admin/locales"
              class="<%- slug === 'locales' ? 'bg-bg-interactive' : '' %> text-text hover:bg-bg-surface group flex items-center rounded-lg p-2 text-base">
              <i class="fa-solid fa-language text-text-muted group-hover:text-text"></i>
              <span class="ml-3 text-sm md:text-base" sidebar-toggle-item><%= tr('SIDEBAR.LOCALES') %></span>
            </a>
          </li>

          <% if (locals.plugins) { %> <% const adminPlugins = plugins.filter(plugin => plugin.adminRouter != null); %>
          <% if (adminPlugins.length > 0) { %>
          <li>
            <button
              type="button"
              class="text-text hover:bg-bg-surface group flex w-full items-center rounded-lg p-2 text-base transition duration-75"
              aria-controls="dropdown-plugins"
              data-collapse-toggle="dropdown-plugins">
              <i class="fas fa-puzzle-piece text-text-muted group-hover:text-text text-xl"></i>
              <span class="ml-3 flex-1 whitespace-nowrap text-left text-sm md:text-base" sidebar-toggle-item
                ><%= tr('SIDEBAR.PLUGINS') %></span
              >
              <i class="fa-solid fa-angle-down"></i>
            </button>
            <ul id="dropdown-plugins" class="<% if (!slug.includes('plugins')) { %>hidden<% }%> space-y-2 py-2">
              <% for (let i = 0; i < adminPlugins.length; i++) { %> <% let urlName = adminPlugins[i].name %> <% let name
              = adminPlugins[i].name.charAt(0).toUpperCase() + adminPlugins[i].name.slice(1).toLowerCase() %>
              <li id="<%= slug.includes(adminPlugins[i].name) ? 'aside-active-item' : '' %>">
                <a
                  href="/admin/<%=urlName%>"
                  class="<%= slug.includes(adminPlugins[i].name) ? 'bg-bg-interactive' : '' %> text-text hover:bg-bg-surface group flex items-center rounded-lg p-2 pl-11 text-sm transition duration-75 md:text-base">
                  <%=name%>
                </a>
              </li>
              <% } %>
            </ul>
          </li>
          <% } %> <% } %>
        </ul>
      </div>
    </div>

    <%- include('./sidebar-bottom.ejs') %>
  </div>
</aside>

<div class="bg-bg-surface fixed inset-0 z-10 hidden" id="sidebarBackdrop"></div>
